#introduction {
  background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)),
              url('./background.jpg') 0% 0%/cover
}
.fill-viewport {
  min-height: 100vh
}
#info-3 {
    background: linear-gradient(rgba(100,181,246 ,0.3), rgba(0,0,0,0.8)),url(./foto.jpg) 0% 0%/cover;
}
@media screen and (min-width: 768px ){
  .basis-md-50 {
	flex-basis: 50%
  }
}
@font-face {
  font-family: 'FontAwesome';
  src: url('your/path/fontawesome-webfont.eot?v=3.0.1');
  src: url('your/path/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('your/path/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('your/path/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
